<html>
<body>
  <form id="reset-form">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="button" value="Reset Password" onclick="resetPassword()">
  </form> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function resetPassword() {
      // Get the email and password values from the form
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;

      // Retrieve the email and token values from the query parameters
      var urlParams = new URLSearchParams(window.location.search);
      var email = urlParams.get('email');
      var token = urlParams.get('token');

      // Make a POST request to the server with the email, password, and token
      axios.post('http://13.233.133.166:5000/forgotpassword/reset-password', {
        email: email,
        password: password,
        token: token
      })
      .then(function (response) {
        console.log(response);
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  </script>
</body>
</html>
